<div ng-controller="Umbraco.Editors.Content.ChangeDocTypeController as vm" ng-cloak>

    <div class="umb-dialog-body with-footer">    
        <div class="umb-pane">
            
            <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

            <div ng-if="!vm.loading">
                <div ng-if="vm.contentTypes">
                    <p class="help"><localize key="changeDocType_changeDocTypeInstruction"></localize></p>

                    <div class="umb-el-wrap">
                        <label class="control-label"><localize key="changeDocType_selectedContent"></localize></label>
                        <div class="controls controls-row">{{ vm.currentNodeName }}</div>
                    </div>
                
                    <div class="umb-el-wrap">
                        <label class="control-label"><localize key="changeDocType_currentType"></localize></label>
                        <div class="controls controls-row">{{ vm.currentContentType.Name }}</div>
                    </div>
                    
                    <!-- Available Doctypes to switch to -->
                    <div class="umb-el-wrap">
                        <label class="control-label"><localize key="changeDocType_newType"></localize></label>
                        <div class="controls controls-row">
                            <select 
                                ng-change="vm.contentTypeChanged()"
                                ng-options="option.Name for option in vm.contentTypes track by option.Id"
                                ng-model="vm.newContentType">
                                <option value="" selected="selected">Choose Content Type</option>
                            </select>
                        </div>
                    </div>

                    <!-- Available Templates to switch to -->
                    <div class="umb-el-wrap">
                        <label class="control-label"><localize key="changeDocType_newTemplate"></localize></label>
                        <div class="controls controls-row">
                            <select 
                                ng-options="option.Name for option in vm.selectedContentTypeTemplates track by option.Id"
                                ng-model="vm.newTemplate">
                                <option value="" selected="selected">Choose Template</option>
                            </select>                           
                        </div>
                    </div>

                    <pre>{{ vm.newContentProps | json }}</pre>                    

                    <div ng-if="vm.newContentType">
                        <!-- Field Mapping -->
                        <localize key="changeDocType_mapProperties"></localize>

                        <div ng-repeat="currentProp in vm.currentContentProps">
                            <label class="control-label">{{ currentProp.Name }}</label>
                            
                            <select 
                                ng-options="option.Name for option in vm.newContentProps track by option.Id"
                                ng-change="vm.propertyChanged(currentProp, )">
                                <option value="" selected="selected">Choose New Property</option>
                            </select>

                        </div>
                    </div>

                </div>               

                <!-- Display warning if no types available to swap to -->
                <umb-empty-state ng-if="!vm.contentTypes" position="center">
                    <localize key="changeDocType_docTypeCannotBeChanged"></localize>
                </umb-empty-state>

            </div>

        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <umb-button
            type="button"
            button-style="link"
            action="nav.hideDialog()"
            label-key="general_cancel">
        </umb-button>

        <umb-button
            ng-if="vm.contentTypes"
            type="button" 
            action="vm.save()"
            state="vm.saveButtonState"
            button-style="success"
            label-key="buttons_save">
        </umb-button>
    </div>

</div>