<div ng-controller="Umbraco.Editors.Content.ChangeDocTypeController as vm" ng-cloak>

    <div class="umb-dialog-body with-footer">    
        <div class="umb-pane">
            
            <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

            <div ng-if="!vm.loading">
                <div ng-if="vm.allowedContentTypes.length > 0" class="block-form">
                    <p class="help"><localize key="changeDocType_changeDocTypeInstruction"></localize></p>

                    <div class="umb-el-wrap" style="margin-bottom: 15px;">
                        <label class="control-label"><localize key="changeDocType_selectedContent"></localize></label>
                        <div class="controls controls-row">{{ currentNode.name }}</div>
                    </div>
                
                    <div class="umb-el-wrap" style="margin-bottom: 15px;">
                        <label class="control-label"><localize key="changeDocType_currentType"></localize></label>
                        <div class="controls controls-row">{{ vm.currentContentType.name }}</div>
                    </div>
                    
                    <!-- Allowed Doctypes to switch to -->
                    <div class="umb-el-wrap" style="margin-bottom: 15px;">
                        <label class="control-label"><localize key="changeDocType_newType"></localize></label>
                        <div class="controls controls-row">
                            <select 
                                ng-change="vm.changeAllowedContentType(vm.newContentType)"
                                ng-options="option.name for option in vm.allowedContentTypes"
                                ng-model="vm.newContentType">
                            </select>
                        </div>
                    </div>

                    <!-- Allowed Templates to switch to -->
                    <div ng-if="vm.allowedTemplates.length > 0" class="umb-el-wrap" style="margin-bottom: 15px;">
                        <label class="control-label"><localize key="changeDocType_newTemplate"></localize></label>
                        <div class="controls controls-row">
                            <select 
                                ng-options="option.name for option in vm.allowedTemplates"
                                ng-model="vm.newTemplate">
                            </select>
                        </div>
                    </div>

                    <!-- Map properties -->
                    <table class="table table-condensed table-bordered" ng-if="vm.propertiesMap.length > 0">
                        <thead>
                            <tr>
                                <th>Current Property</th>
                                <th>Map to Property</th>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currentProperty in vm.propertiesMap">
                                <td>
                                    <span class="bold">{{currentProperty.name}}</span>
                                </td>
                                <td>
                                    <p ng-if="currentProperty.allowed.length === 0">None</p>
                                    <select
                                        ng-if="currentProperty.allowed.length > 0"
                                        style="margin-bottom: 0;"
                                        ng-options="option.alias as option.name for option in currentProperty.allowed"
                                        ng-model="selected"
                                        ng-change="vm.changeProperty(currentProperty, selected)">
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Display warning if no types available to swap to -->
                <umb-empty-state ng-if="vm.allowedContentTypes.length === 0" position="center">
                    <localize key="changeDocType_docTypeCannotBeChanged"></localize>
                </umb-empty-state>

            </div>

        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <umb-button
            type="button"
            button-style="link"
            action="nav.hideDialog()"
            label-key="general_cancel">
        </umb-button>
        <umb-button
            ng-if="vm.allowedContentTypes.length > 0"
            type="button" 
            action="vm.save()"
            state="vm.saveButtonState"
            button-style="success"
            label-key="buttons_save">
        </umb-button>
    </div>

</div>